@layout('layout/base')

@set('title','Amal Islami Dashboard')
@set('pageHeader','Dashboard Utama')

@section('custom-css')
@endsection

@section('content')
  This is content
@end


@section('custom-css')
  <script src="/assets/js/pages/dashboard.js"></script>
@endsection