@layout('home/layout/base')

@set('title','Amal Islami Dashboard')
@set('pageHeader','Data Guru Yayasan')

@section('custom-css')

@end

@section('content')

@end

@section('custom-js')
<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js"></script>

@end